
body
{
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font-size: 12px;
}

SPAN.navigation A:link
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial, helvetica
}
SPAN.navigation A:visited
{
    COLOR: #ffffff
}
SPAN.navigation A:hover
{
    COLOR: #00235d;
    FONT-SIZE: 9px;
}
BODY TD
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
BODY TD.trcolor
{
    BACKGROUND-COLOR: burlywood
}

h1 {
	font: 1.5em/normal georgia, serif; margin: 0px 0px 0px 0px; font-size-adjust: none; font-stretch: normal; background-color: #f1f1f1;  width: 99%; padding: 0px 0px 0px 1%; line-height: 40px; border: 1px solid #e1e1e1;
}
h2 {
	font: 1.25em/normal georgia, serif; margin: 0px 0px 0.5em; font-size-adjust: none; font-stretch: normal;
}
h1 {
	color: orange;
}
h2 {
	color: orange;
}
a {

    text-decoration: none;
}
a:hover {

    color: red;
}
img
{
    border: none;
}
p {
	margin: 0px 0px 1em; line-height: 1.5;
}




.headermain_bg
{
    width: 100%;
    height: 700px;
    margin: 0px auto;
    clear: both;
    padding: 0px 0px 0px 0px;
    background-image: url(./images/header_bg.png);
	position:relative;
    background-repeat: no-repeat;
    background-position: center;
}

.headermain_bg_inside
{
    width: 100%;
    height: 130px;
    margin: 0px auto;
    clear: both;
    padding: 0px 0px 0px 0px;
    background-image: url(./images/header_bg_inside.jpg);
	position:relative;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 5px solid #0a439c;
}

.header_main
{
    width: 100%;
    height: 130px;
    margin: 0px auto;
    /*background-image: url(./images/headermain.png);*/

}

.headercont_container
{
    width: 1024px;
    height: 50px;
    padding: 0px;
    margin: 0px auto;
    margin-top: 450px;

}

.emblemb
{
    float: left;
    margin: 15px 0px 0px 10px;
}

.loginiconright_main
{
    float: left; margin: 0px 0px 0px 420px;
}

.infra-logo{
    float: right; margin: 8px 15px 0px 0px;
}



.icon_bg_pannal
{
    width: 1009px;
    float: left;
    height: 45px;
    background-image: url(./images/icon_bg.png);
    margin: 2px 0px 0px 8px;
}


#container
{
    border:0px solid #fff;
    width:100%;
    background-color:#fff;
    padding:0px;

}


#main_container
{
    margin: 0px auto;
    width: 1250px;
    height: auto;
    padding: 0px 0px 0px 0px;
    background-color: #fff;
    min-height: 700px;
    border: 0px solid red;

}

#main_container_front
{
    margin: 0px auto;
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 0px;
    min-height: 510px;
    border-bottom: 1px solid #b17c02;
    border-top: 1px solid #b17c02;
    background-color: #d79600; margin-bottom: 1%;

}
.cmscontent_new
{
    font-family: verdana;
    font-size: 12px;
    text-align: ;
    margin: 10px 0px 10px 0px;


}



.displaymap_penalleft
{
     border: 3px solid #000; width: 80%; height: 450px; margin: 0px auto; border-radius: 10px;  margin-top: 0; margin-bottom: 1%; background-color: #fff;
}

.displaymap_penalright
{
     border: 3px solid #000; width: 80%; height: 500px; margin: 0px auto; border-radius: 10px; margin-top: 1%; margin-bottom: 1%; background-color: #fff;
}


.emailbarpanel
{
    margin: 0px auto; width: 100%; background-color: #262626; height: 80px; border-top: 2px solid #fff;
}


.emailbarpanel_main
{
    margin: 0px auto; width: 1024px;
}

.emailbarpanel_textleft
{
    font-family: verdana; font-size: 14px; color: #fff; line-height: 80px; width: 50%; border: 0px solid red; float: left;
}

.emailbarpanel_textright
{
    font-family: verdana; font-size: 14px; color: #fff;  width: 45%; border: 0px solid red; float: right;
}

.emailbarpanel_mainbutton
{
    float: right; margin: 17px 0px 0px 0px;
}


.welcometext_matter
{
    float: left;
    width: 612px;
    font-family: Verdana;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0px 0px 10px;
    border: 1px solid #d7d7d7;
    color: #000;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
}


.loginright_pannal
{
    width: 355px;
    float: right;
    height: 300px;
    margin: 10px 10px 0px 0px;
    border: 0px solid red;
}

.loginheader_main
{
    background-image: url(./images/login_header.png);
    width: 355px;
    height: 55px;
    float:left;
}

.loginmiddle_main
{
    width: 353px;
    float:left;
    padding: 10px 0px 10px 0px;
    border-left: 1px solid #b9beba;
    border-right: 1px solid #b9beba;
    background-color: #fff;
}



.loginbottom_main
{
    background-image: url(./images/login_bottom.png);
    width: 355px;
    height: 51px;
    float:left;
    text-align: center;
}


#bottom2
{   width: 100%; border: 0px solid red;
    float:left;
    clear: both;
    background-color: #363636;

}

#bottom2_main
{
    width: 1024px;
    margin: 0px auto;
}


.bottomlinks_panel
{
    width: 190px;
    float: left;
    border: 0px solid yellow;
    margin: 10px 0px 20px 10px;
}


.bottomlinks_heading
{
    width: 99%;
    padding: 0px 0px 0px 1%;
    float: left;
    line-height: 25px;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #848484;
}

.bottomlinks_heading a
{
    width: 99%;
    padding: 0px 0px 0px 1%;
    float: left;
    line-height: 25px;
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    color: #848484;
}
.bottomlinks_heading a:hover
{
    color: orange;
}




.bottonicon_facebook
{
    width: 25px;
    text-align: center;
    height: 25px;
    float: left;
    margin: 25px 10px 0px 10px;
    border: 0px solid red;
}



#bottom
{   width: 100%; border: 0px solid red;
    clear: both;
    float:left;
    background-color: #212121;

}

.bottom_text_panel
{
    width: 1024px; margin: 0px auto;
}


.bottom_text
{
    width: 20%;
    margin: 15px 0px 0px 0px;
    font-family: Verdana;
    font-size: 12px;
    color: #fff;
    float: left;
    line-height: 25px;
    border: 0px solid yellow;
}

.botomlinkpanel
{
    width: 60%;
    margin: 15px 0px 0px 0px;
    font-family: Verdana;
    text-align: center;
    font-size: 12px;
    color: #fff;
    float: left;
    line-height: 25px;
    border: 0px solid yellow;
}

.botomlinkpanel a
{
    text-decoration: none;
    color: #fff;
    margin: 0px 0px 0px 10px;
}


.areabox
{
	width:250px!important;
     height:100px!important;

     background:#d8e6f4;
	 margin-bottom:5px;
     border-radius:5px;
     border:1px solid #aecae9;
     padding-left:10px!important
}


.areabox2
{
	width:450px!important;
     height:190px!important;

     background:#d8e6f4;
	 margin-bottom:5px;
     border-radius:5px;
     border:1px solid #aecae9;
     padding-left:10px!important
}

.formbox
{
    width: 270px;
    height: 40px!important;
    line-height: 28px;
    background: #fff;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    border: 1px solid #aecae9;
    padding-left: 10px!important;
}


.formbox2 {
    width: 375px;
    height: 32px!important;
    line-height: 32px;
    background: #d8e6f4;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #3691c8;
    padding-left: 10px!important;
}

.formbox_cap {
    width: 200px;
    height: 32px!important;
    line-height: 32px;
    background: #d8e6f4;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #3691c8;
    padding-left: 10px!important;
    float: right;
}


/*-------------  left links pannel -------*/

.leftlinks_middle
{
    width: 180px;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.leftlinks_main_pannel
{
    width: 180px;
    clear: both;
    border-bottom: 1px solid #6c6c6c;
    margin: 0px 0px 0px 0px;
    float: left;
}
.leftlinks_text a
{
    width: 160px;
    text-decoration: none;
    color: #fff;
    float: left;
    font-family: verdana;
    border: 0px solid red;
    font-size: 12px;
    margin: 4px 0px 0px 7px;
    line-height: 20px;
    padding: 2px 0px 2px 0px;
}

.leftlinks_text a:hover
{
    color: #f31700;
    /*margin-left: 10px;*/
}
.leftlinks_imges
{
    width: 10px; height: 10px; border: 0px solid red; margin: 6px 0px 0px 3px; float: left;
}


.web_dialog
        {
            display: none;
            position: fixed;
            width: 400px;

            top: 20%;
            left: 48%;
            margin-left: -190px;
            margin-top: -100px;
            border: 2px solid #000000;
            color:#ffffff;
            padding: 20px;
            z-index: 102;
            font-family: Verdana;
            font-size: 10pt;
            border-radius: 10px;
            background-image: url('images/trans.png');
        }
        .web_dialog1
        {
            position: fixed;
            width: 400px;
            height: 390px;
            top: 35%;
            left: 50%;
            margin-left: -190px;
            margin-top: -100px;
            border: 2px solid #000000;
            background-color:#f8f8f8;
            padding: 0px;
            z-index: 102;
            font-family: Verdana;
            font-size: 10pt;
        }
        .web_dialog_title
        {
            border-bottom: solid 2px #336699;
            padding: 4px;
            color: White;
            font-weight:bold;
        }
        .web_dialog_title a
        {
            color: White;
            text-decoration: none;
        }
        .align_right
        {
            text-align: right;
        }





.innarheader_text
{
    float: right;
    width: 95%;
    margin: 4px 20px 0px 0px;
    background-color: #fff;
    border-radius: 10px;
    font-family: verdana;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    background-image: url(images/Admin-icon.png);
    background-position: right;
    background-repeat: no-repeat;
}





/*==== Drop Down Menu ====*/

#menu {
	position:relative;
    width: 100%;
    float: left;
    border: 0px solid red;
    height: 51px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-repeat: repeat-x;
    /*background-image: url(images/middlemenu_bg.png);*/


    background-image: url(images/middlemenu_bg.png);



}

#menu .menu {
	position:absolute;
width:100%;
}
#menu * {
	list-style:none;
	border:0px solid yellow;
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
#menu a {
	display:block;
	padding-left:13px;

}
#menu a span {
	display:block;
	padding:0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	white-space:nowrap;

}
#menu li {
	float:left;
    padding:1px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	background:url(images/pix.gif);

}
#menu li li {
	float:none;
}
#menu div {
	display:none;
	position:absolute;
	background:url(images/pix.gif);
	margin-top:0px;
	width:190px;

}
#menu div ul {
	position:relative;
}
#menu div div {
	margin:-50px 0 0 -6px;
	left:100%;

}
#menu li:hover>div {
	display:block;
}
/** ie7 */
*:first-child+html #menu div div {
	display:block;
	top:-9999px;
}
*:first-child+html #menu li:hover>div {
	top:auto;
}
#menu div.columns {
	width:200px;
	border:0px solid red;

}
#menu div.columns ul {
	float:left;
	width:200px;
	border:0px solid yellow;
	position:static;

}
#menu div.columns a {
	white-space:normal;
}
#menu div.two {
	width:400px;

}
#menu div.two ul.one div {
	margin-left:-206px;
}
#menu div.two ul.two div {
	margin-left:-6px;
}
#menu div.three {
	width:600px;
}
#menu div.three ul.one div {
	margin-left:-406px;
}
#menu div.three ul.two div {
	margin-left:-206px;
}
#menu div.three ul.three div {
	margin-left:-6px;
}
#menu div.four {
	width:800px;
}
#menu div.four ul.one div {
	margin-left:-606px;
}
#menu div.four ul.two div {
	margin-left:-406px;
}
#menu div.four ul.three div {
	margin-left:-206px;
}
#menu div.four ul.four div {
	margin-left:-6px;
}
#menu div.five {
	width:1000px;
}
#menu div.five ul.one div {
	margin-left:-806px;
}
#menu div.five ul.two div {
	margin-left:-606px;
}
#menu div.five ul.three div {
	margin-left:-406px;
}
#menu div.five ul.four div {
	margin-left:-206px;
}
#menu div.five ul.five div {
	margin-left:-6px;
}
#menu a, #menu a span {
	font-family:Arial;
	font-size:12px;
	color:#fff;
    line-height: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px 8px 0px 8px;
	text-decoration:none;
	font-weight:normal;
	border:0px solid red;
    /*background-image: url(../images/linmenu_bg.png);
    background-position: right;
    background-repeat: no-repeat;*/
}
#menu a {
	text-shadow:#222 -1px -1px 0;
	/*background:url(images/item.png) no-repeat left -274px;*/

    background:url(images/item.png) no-repeat left -274px;

}
#menu a span {
	/*background:url(images/item.png) no-repeat right -4px;*/

    background:url(images/item.png) no-repeat right -4px;

}
#menu li.current>a {
	background-position:left -319px;
}
#menu li.current>a span {
	background-position:right -94px;
}
#menu a.parent span {
	background-position:right -49px;
	padding-right:40px;
}
#menu li.current>a.parent span {
	background-position:right -139px;
}
#menu>ul>li:hover>a, #menu a:hover {
	background-position:left -364px;
}
#menu>ul>li:hover>a span, #menu a:hover span {
	background-position:right -184px;
}
#menu>ul>li:hover>a.parent span, #menu a.parent:hover span {
	background-position:right -529px;
}
#menu div a {
	margin-left:4px;
	padding:0 0 0 0;
	/*width:295px;*/
	background:url(images/subitem.png) no-repeat 0 top;
}
#menu div a span {
	text-transform:none;
	font-size:13px;
	background:url(images/subitem.png) no-repeat -384px bottom;
	padding-top:0px;
	padding-left:11px;
	white-space:normal;
}
#menu div a:hover, #menu div ul>li:hover>a.parent, #menu div ul li a.parent:hover {
	background-color: #002e6c;
	background-position:-192px top;
}
#menu div a:hover span {
	background-position:-768px bottom;
}
#menu div a.parent span {
	background-position:-476px bottom;
}
#menu div ul>li:hover>a.parent span, #menu div ul li a.parent:hover span {
	background-position:-860px bottom;
}
#menu div {
	/*background:url(images/columns.png) no-repeat -200px top;*/

    background:url(images/columns.png) no-repeat -310px top;



	padding-top:14px;
}
#menu div ul {
	width:230px;
	/*background:url(images/columns.png) no-repeat 0 bottom;*/

    background:url(images/columns.png) no-repeat 0 bottom;



	padding-bottom:17px;
}
#menu div.columns {
	padding-top:0;
	margin-top:9px;

}
#menu div div.columns {
	border:12px solid White;
	margin-top:-36px;
}
#menu div.columns>ul {
	padding-top:14px;
	margin-top:-14px;

}
#menu div.two {
	background-position:-1000px bottom;
}
#menu div.three {
	background-position:-1400px bottom;
}
#menu div.four {
	background-position:-2000px bottom;
}
#menu div.five {
	background-position:-2800px bottom;
}
#menu div.columns ul.two, #menu div.columns ul.three, #menu div.columns ul.four, #menu div.columns ul.five {
	background-position:-550px top;
}
#menu div.columns ul.one {
	background-position:-400px top;
}
#menu div.two ul.two, #menu div.three ul.three, #menu div.four ul.four, #menu div.five ul.five {
	background-position:-800px top;
}
#menu div.columns>ul>li>a {
	margin-left:0;
	width:200px;
    border: 0px solid yellow;
}
#menu div.columns>ul.one>li>a {
	margin-left:4px;
	width:196px;
    border: 0px solid yellow;
}
#menu div.two>ul.two>li>a, #menu div.three>ul.three>li>a, #menu div.four>ul.four>li>a, #menu div.five>ul.five>li>a {
	width:295px;
}
#menu.active a {
	z-index:780;
	position:relative;
     border: 0px solid yellow;
}
#menu.active li {
	z-index:778;
}
#menu.active div div {
	z-index:781;

}
#menu.active div a {
	position:static;
     border: 0px solid yellow;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}
#menu.active li.back {
	//*background:url(images/item.png) no-repeat left -319px;*/

    background:url(images/item.png) no-repeat left -319px;




	height:40px;
	position:absolute;
	padding:0px 0px 0px 0px;
	margin:7px 0px 0px 0px;
    border: 0px solid yellow;
}
#menu.active li.back .left {
	display:block;
	padding:0px 0px 0px 0px;
	width:auto;
	/*background:url(images/item.png) no-repeat right -94px;*/

    background:url(images/item.png) no-repeat right -94px;



	height:40px;
	margin:0 5px 0 8px;
	position:relative;
	left:5px;

}
#menu.active li.current-back, #menu.active li.current-parent-back {
	background-position:left -364px;
}
#menu.active li.current-back .left {
	background-position:right -184px;
}
#menu.active li.current-parent-back .left {
	background-position:right -229px;
}
#menu.active .spanbox {
	position:absolute;
	display:none;
	background:url(images/pix.gif);
	margin-top:-5px;
	width:300px;
}
#menu.active div {
	margin-top:0;
	display:block;
	position:relative;
}
#menu.active div .spanbox {
	margin:0 0 0 -6px;
	left:100%;
}
#menu.active .spanbox .spanbox {
	margin-top:-50px;
}
#menu.active .spanbox .spanbox div {
	margin:-2px 0 0 0;
}
/** ie7 */
*:first-child+html #menu.active div div {
	top:auto;
}
*:first-child+html .menu-images-preloading {
visibility:hidden;
}
#menu.active div.two ul.one .spanbox {
	margin-left:-206px;
}
#menu.active div.two ul.two .spanbox {
	margin-left:-6px;
}
#menu.active div.three ul.one .spanbox {
	margin-left:-406px;
}
#menu.active div.three ul.two .spanbox {
	margin-left:-206px;
}
#menu.active div.three ul.three .spanbox {
	margin-left:-6px;
}
#menu.active div.four ul.one .spanbox {
	margin-left:-606px;
}
#menu.active div.four ul.two .spanbox {
	margin-left:-406px;
}
#menu.active div.four ul.three .spanbox {
	margin-left:-206px;
}
#menu.active div.four ul.four .spanbox {
	margin-left:-6px;
}
#menu.active div.five ul.one .spanbox {
	margin-left:-806px;
}
#menu.active div.five ul.two .spanbox {
	margin-left:-606px;
}
#menu.active div.five ul.three .spanbox {
	margin-left:-406px;
}
#menu.active div.five ul.four .spanbox {
	margin-left:-206px;
}
#menu.active div.five ul.five .spanbox {
	margin-left:-6px;
}
#menu.active div.columns ul .spanbox div {
	margin-left:0;
}
 .menu-images-preloading, .menu-images-preloading div {
 top:0;
 left:0;
 width:4px;
 height:2px;
 opacity:0.1;
 overflow:hidden;
 position:absolute;
}
.menu-images-preloading {
width:2px;
}
.menu-images-preloading .columns-png {
/*background:url(images/columns.png) no-repeat;*/

    background:url(images/columns.png) no-repeat;




}
.menu-images-preloading .subitem-png {
background:url(images/subitem.png) no-repeat;
}



.marquee_bg_main
{
    background:url(images/marquee_bg.png) no-repeat;
    background-repeat: repeat-x;
    margin: 0px auto;
    width: 1024px;
    min-height: 50px;
    line-height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}



.marquee_bg_main_heading
{
    float: left; background-color: blue; width: 13%;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.marquee_bg_main_matter
{
    float: right;
    width: 86%;

}



/*==== Drop Down Menu ====*/







/*For marquee */


div#vertical_scroller
{
	position:relative;
	height:200px;
	width:92%;
	display:block;
	overflow:hidden;
	border:none;
    margin: 15px 15px 5px 3%;
    border: 3px solid #fff;
    background:url(images/trans_orange.png);
    border-radius: 10px;
}
div#scrollingtext{
	position:absolute;
    width: 100%;
    /*height:auto;*/
    vertical-align: top;
}


div#vertical_scroller14 {
    position: relative;
    height: 150px;
    width: 100%;
    display: block;
    overflow: hidden;
    border: none;
}

div#vertical_scroller14 {
    position: relative;
    height: 150px;
    width: 100%;
    display: block;
    overflow: hidden;
    border: none;
}

.newslinks_main_pannel
{
    width: 98%; clear: both; border-bottom: 1px solid #485a73; margin: 8px 0px 0px 1%; float: left;

}

.newslinks_text a
{
    width: 93%;
    color: #000;
    text-decoration: none;
    float: left;
    font-family: Verdana;
    border: 0px solid red!important;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    line-height: 20px;
    padding: 2px 0px 2px 5px;
}

.newslinks_text
{
    width: 93%;
    color: #000;
    text-decoration: none;
    float: left;
    font-family: Verdana;
    border: 0px solid red!important;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    line-height: 20px;
    padding: 2px 0px 2px 5px;
}


.newslinks_text a:hover
{
    color: #f31700;
}
.newslinks_imges
{
    width: 2%; height: 16px; border: 0px solid red; margin: 5px 0px 0px 5px; float: left;
}




.marqueepanelmaine_right
{
    background:url(images/trans.png);
    float: right;
    margin: 3% 30px 0px 0px;
    border: 3px solid #fff;
    border-radius: 10px;

}



.play_button
{
    width: 14px;
    height: 14px;
    margin: 10px 15px 2px 0px;
    float: right;
}

.pause_button
{
    width: 16px;
    height: 16px;
    margin: 10px 10px 2px 0px;
    float: right;
}




.sushil input[type=submit] {
    width: 100%;
    background-color: #d79600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-family: verdana;
}

.sushil input[type=submit]:hover {
    background-color: #c48902;
}


.registerbutton_home
{
    float: left;line-height: 40px; background-color: #3691c8; text-align: center; font-family: verdana;width: 100%; color: #fff;
}
.registerbutton_home
{
    background-color:#156b9f ;
}

.Consultancy_Firmsbutton a
{
    float: right; margin: 0px 0px 10px 0px; background-color: #3691c8;width: 49%; line-height: 40px; text-align: center; font-family: verdana; font-size: 16px; color: #fff;
}

.Consultancy_Firmsbutton a:hover
{
    background-color: #156b9f;
}
.personalbutton a
{
    float: left;background-color: #3691c8; margin: 0px 0px 10px 0px; width: 50%;line-height: 40px; text-align: center; font-family: verdana; font-size: 16px; color: #fff;
}


.personalbutton a:hover
{
    background-color: #156b9f;
}



.long-title h3
        {
        font-size: 25px;
		font-family: verdana;
        border: 0px solid red; text-align: center; font-weight: bold; line-height: 60px;
        color: #fff;

        }




.highlight { background-color: yellow };

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: relative;
    width: 100%;
    float: left;
    border: 0px solid red;
    height: 51px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-repeat: repeat-x;
    /* background-image: url(images/middlemenu_bg.png); */
    background-image: url(images/middlemenu_bg.png);
}
