{% extends 'base.html' %}

{% load static %}

{% block style %}

<style>
.preview-text {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #000;
}
.input-btn {
    cursor: pointer;
}
td {
    max-width: 100px;
    font-size: 14px;
}

td:first-child {
    max-width: 30px;
}

#dvTable {
    display: none;
}

.dataTables_info {
    display: none !important;
}
.dataTables_paginate .paging_simple_numbers {
    display: none !important;
}
.dataTables_length {
    display: none !important;
}
.dataTables_filter {
    float: right !important;
}
.pagination {
    display: none !important;
}
.form-control {
    width: auto !important;
    background-color: #ddd !important;
}
</style>
{% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
      $("select.drp_dn").change(function(){
        var selectedCountry = $(this).children("option:selected").val();
        if(selectedCountry == 'All') {
            selectedCountry = ''
        }
        $(".myTable tr").filter(function() {
          $(this).toggle($(this).text().indexOf(selectedCountry) > -1)
        });
      });
    });
</script>
<div class="container-fluid">
    <div class="row mt-3">
    </div>

    <div class="row mb-5">
        <div class="col-sm-12">
            <button type="button" class="btn" onclick="GenerateTable()">Generate Table</button>
            <hr/>
            <div id="dvTable">
                <form>
                  <div class="form-group">
                     <label for="sel1"> Global Search:</label>
                        <select id="sel1" class="drp_dn form-control" name="filter">
                              <option value="Matched">Matched</option>
                              <option value="Not matched">Not matched</option>
                              <option value="All">All</option>
                        </select>
                  </div>
                </form>
                <div>
                    <table class="table table-striped table-bordered myTable1 display">
                        <thead>
                          <tr>
                           <th>Client</th>
                            <th>Year(User)</th>
                            <th>Turnover(User)</th>
                            <th>Annual Turnover Year Matched</th>
                            <th>Annual Turnover Cost Matched</th>
                            <th>Status (Year)</th>
                            <th>Status (TurnOver)</th>
                          </tr>
                        </thead>
                        <tbody class="myTable">
                        {% for i in turn_over_zipall %}
                          <tr>
                              <td class="td-val">{{i.0}}</td>
                              <td class="td-val">{{i.1}}</td>
                              <td class="td-val">{{i.2}}</td>
                              <td class="td-val">{{i.3}}</td>
                              <td class="td-val">{{i.4}}</td>
                              <td class="td-val">{{i.5}}</td>
                              <td class="td-val">{{i.6}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
                <br>
                <div>
                    <table class="table table-striped table-bordered myTable2 display">
                        <thead>
                          <tr>
                            <th class="td-val">Technology Name</th>
                            <th class="td-val">Technology Text (User)</th>
                            <th class="td-val">Technology Text Matched</th>
                            <th class="td-val">Status</th>
                          </tr>
                        </thead>
                        <tbody class="myTable">
                        {% for i in technology_zipall %}
                          <tr>
                              <td class="td-val">{{i.0}}</td>
                              <td class="td-val">{{i.1}}</td>
                              <td class="td-val">{{i.2}}</td>
                              <td class="td-val">{{i.3}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
                <br>
                <div>
                    <table class="table table-striped table-bordered myTable3 display">
                        <thead>
                          <tr>
                            <th>Header Name</th>
                            <th>Work Detail Text(User)</th>
                            <th>Work Detail Text Matched</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody class="myTable">
                        {% for i in detail_work_zipall %}
                          <tr id="dt_work">
                              <td class="td-val">{{i.0}}</td>
                              <td class="td-val">{{i.1}}</td>
                              <td class="td-val">{{i.2}}</td>
                              <td class="td-val">{{i.3}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('table.display').DataTable();
    } );
</script>
<script>
    function GenerateTable() {
      var x = document.getElementById("dvTable");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
      <!--$('.table').each(function(){-->
            <!--var text = $(".td-val").val();-->
            <!--console.log(text)-->
            <!--if(text == "Matched"){-->
                <!--$(".td-val").style("background-color", "#00FF00");-->
            <!--}-->
      <!--})-->

        var Cells = document.getElementsByClassName("td-val");
            for(i in Cells) {
               text =  Cells[i].innerText
               if(text == "Matched") {
                   Cells[i].innerHTML = "<span style='background-color: #056905;color: #fff'>" +text+"</span>"
               }
               else if(text == "Not matched"){
                  Cells[i].innerHTML = "<span style='background-color: #f50e0e;color: #fff'>" +text+"</span>"
               }
            }
        var EmptyCell = document.getElementsByClassName("td-val");
        for(i in EmptyCell) {
            text =  EmptyCell[i].innerText
            if(text == '') {
                EmptyCell[i].innerHTML = "<span style='background-color: #8a9210;color: #fff'>No Data Found Or Bad Quality PDF</span>"
            }
        }
    }
</script>

{% endblock %}