{% extends 'base.html' %}

{% block content %}

<style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 30px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 50px;
}
.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fbae17;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

#str {
    display: none;
}
</style>

    <ul style="padding-top: 15px;">
      <li>
        <a onclick="Lodding_text()" href="{% url 'simple_upload' %}">GO To Text Validation / RITES LIMITED.</a>
      </li>
      <!--<li>-->
        <!--<a onclick="Lodding_text()" href="{% url 'compony_two_view' %}">GO To Text Validation / VOYANT LIMITED</a>-->
      <!--</li>-->
    </ul>

    <div  id="str" class="wrap">
      <div class="loading">
        <div class="bounceball"></div>
        <div id="loading" class="text">NOW LOADING</div>
      </div>
    </div>

<script>
    function Lodding_text() {
          var x = document.getElementById("str");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }

          setTimeout( function(){
            // Do something after 1 second
            document.getElementById('loading').innerHTML = "Collecting PDF Files To Load....";
          }  , 10000 );
           setTimeout( function(){
            // Do something after 1 second
            document.getElementById('loading').innerHTML = "Extracting Text From  PDF Files.....)";
          }  , 30000 );

          setTimeout( function(){
            // Do something after 1 second
            document.getElementById('loading').innerHTML = "Processing For Matching Text.....";
          }  , 50000 );

          setTimeout( function(){
            // Do something after 1 second
            document.getElementById('loading').innerHTML = "Setting up the view for you.....";
          }  , 70000 );

          setTimeout( function(){
            // Do something after 1 second
            document.getElementById('loading').innerHTML = "Almost done.....";
          }  , 90000 );

    }

</script>
{% endblock %}