<html>
{% load static %}
<head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">-->
     <meta charset="utf-8">
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel='stylesheet' />
     <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>


    <!--<link rel="stylesheet" type="text/css" href="./infracon_web_portl_files/resposive.css">-->
<script language="javascript">
var myval=escape(location.href);
	if(myval.toLowerCase().search("script")!="-1" || myval.search("script")!="-1")
	{
		location.href="index.asp";
	}
		if(myval.toLowerCase().search("alert")!="-1" || myval.search("alert")!="-1")
	{
		location.href="index.asp"
	}
</script>
<link  href="{% static 'style.css' %}">
<meta name="GENERATOR" content="Microsoft Visual Studio 6.0">
<title>INFRACON, Ministry of Road Transport &amp; consultant_highways, Government of India</title>
</script><script language="javascript">
    function check() {
        var result = confirm("Are You sure to Confirm.Once Confirm No Modification Is Allowed?")
        if (result == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
    <style>
    .txt-aria {
            position: relative;
            bottom: 5px;
            margin: auto;
            width: 50%;
            border: 3px solid lightgrey;
            padding: 10px;
            font-size: 20px;
    }
    </style>
</head>

<body>
<table width="100%" border="0">
<tbody><tr>
	<td><font face="verdana" size="1">
<form action="http://infracon.nic.in/submit_saveM.asp" method="post" id="form1" name="form1">
<input type="HIDDEN" name="EncHid" id="EncHid" value="31422.92917">
<input type="HIDDEN" name="kp_id" id="kp_id" value="493">
<input type="hidden" name="comp" value="1">
     <table width="50%" border="4" cellpadding="3" cellspacing="3" bordercolor="lightgrey" align="Center" bgcolor="snow" style="position: relative;bottom: 6px;">
<tbody><tr bgcolor="lightgrey" align="left">
	<td colspan="8"><b>Count Of Status (Matched, Not Matched from Different Fields) </b></td>
</tr>
    <tr>
        <td><b>Count from TurnOver Year:</b></td>
        <td>{{count_turnover_year_status1}} </td>
    </tr>
    <tr>
        <td><b>Count from TurnOver : </b></td>
        <td>{{count_turnover_status2}}</td>
    </tr>
    <tr>
        <td><b>Count from Technology: </b></td>
        <td>{{count_tech_status1}}</td>
    </tr>
    <tr>
        <td><b>Count from Work Detail: </b></td>
        <td>{{count_work_detail_status1}}</td>
    </tr>
    <tr>
        <td><b>Count from Work Detail2: </b></td>
        <td>{{count_work_detail_status2}}</td>
    </tr>

</tbody></table>

<table width="80%" border="4" cellpadding="3" cellspacing="3" bordercolor="lightgrey" align="Center" bgcolor="snow">
<tbody><tr bgcolor="lightgrey" align="center">
	<td colspan="8"><b>VIEW CONSULTANT DETAILS</b></td>
</tr>
</tbody></table><table width="80%" border="4" cellpadding="3" cellspacing="3" bordercolor="lightgrey" align="Center" bgcolor="snow">
<tbody><tr bgcolor="lightgrey" align="left">
	<td colspan="8"><b>Details Submitted by Consultant on: </b><font color="red">28/01/2019</font></td>
</tr>
<tr bgcolor="lightgrey" align="left">
	<td colspan="8"><b>BASIC DETAILS</b></td>
</tr>
    <tr>
        <td><b>Consultant Type</b></td>
        <td>
        Supervision,Safety,DPR

        </td>
    </tr>
    <tr>
        <td><b>Country</b></td>
        <td>India</td>
    </tr>

    <tr>
        <td><b>State</b></td>
        <td>HARYANA</td>
    </tr>
    <tr>
        <td width="30%"><b>Name</b><label></label></td>
        <td>RITES LIMITED</td>
    </tr>
    <tr>
        <td><b>Mobile</b><label></label></td>
        <td>9871016866</td>
    </tr>
    <tr>
        <td><b>Landline Number</b><label></label></td>
        <td>2818411</td>
    </tr>
    <tr>
        <td><b>Email</b><label></label></td>
        <td>bdcellhw@rites.com</td>
    </tr>
    <tr>
        <td><b>Year of Inception</b><label></label></td>
        <td>1974</td>
    </tr>
    <tr>
        <td><b>PAN Number</b><label></label></td>
        <td>AAACR0830Q</td>
    </tr>

    <tr>
        <td><b>CIN Number</b><label></label></td>
        <td>U74899DL1974GOI007227</td>
    </tr>

    <tr>
        <td><b>Service Tax Number</b><label></label></td>
        <td>AAACR0830QD020</td>
    </tr>

    <tr>
        <td><b>Website</b><label></label></td>
        <td>http://www.rites.com&nbsp;</td>
    </tr>
</tbody></table>
    <style>
        #popup{
            display: none;
            border: 1px solid black;
        }

        .status {
            cursor: pointer;
        }

        .status:hover {
            background-color: yellow;
        }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: .3em;
            top: 50%;
            width: 21px;
            margin: -10px 0 0 0;
            padding: 1px;
            height: 20px;
        }
        .ui-button {
            text-indent: -9999px;
            background-color: #b0e0e6;

        }
    </style>
     <style>
        .highlight {
          background-color: yellow;
        }
    </style>
<div id="popup" data-name="name" class="dialog" style="background-color: fdebcd;">
<a href="#close" class="close"></a>
<p class="dia-text" style="text-align: center;"></p>
</div>

<br><table width="80%" border="4" cellpadding="3" cellspacing="3" bordercolor="lightgrey" align="Center" bgcolor="snow">
<tbody><tr bgcolor="lightgrey" align="left">
	<td colspan="10"><b>TURNOVER DETAILS</b></td>
</tr>
<input type="hidden" value="2" name="act">
	<tr>
	<td><b>S.No.</b></td>
	<td><b>Year</b></td>
	<td><b>Turnover in cr</b></td>
	<td><b>Status(Year)</b></td>
	<td><b>Status(Turnover)</b></td>
   <td><b>Document</b></td>
    <td><b>Supporting Documents</b></td>

</tr>
    {% for i in turn_over_zipall %}
        <tr>
            <td class="td-val">{{i.0}}</td>
            <td class="td-val">{{i.1}}</td>
            <td class="td-val">{{i.2}}</td>
            <td class="td-val status status-year cell-which-triggers-popup">{{i.3}}</td>
            <td class="td-val status status-turnover cell-which-triggers-popup1">{{i.4}}</td>
            <td class="td-val">
            <!--{{i.5}}-->
                <a href='media/{{i.5}}' target="_blank">View</a>
            </td>
            <td class="td-val">{{i.6}}</td>

        </tr>
    {% endfor %}

</tbody></table>
    <script>
        function showPopup(your_variable){
            $("#popup").dialog({
                width: 500,
                height: 300,
                open: function(){
                    $(this).find("p").html(your_variable)
                }
            });
        }
         year_list = []
        '{% for i in status_year_2 %}'
                lst = '{{i}}'
                st_lst = lst.toString();
                year_list.push(st_lst)
             '{% endfor %}'
         given_year_list = []
        '{% for i in year_list_given %}'
                lst = '{{i}}'
                st_lst = lst.toString();
                given_year_list.push(st_lst)
             '{% endfor %}'
        $(".cell-which-triggers-popup").each(function(index) {
            $(this).on("click", function(){

               showPopup('<b>Given text</b> <br>' + given_year_list[index] + '<br> <b>Matched Text</b> <br>' + year_list[index])
            })
        });

        turnover_list = []
        '{% for i in status_turnover_2 %}'
                lst = '{{i}}'
                st_lst = lst.toString();
                turnover_list.push(st_lst)
             '{% endfor %}'
        given_turnover_list = []
        '{% for i in tunover_list_given %}'
                lst = '{{i}}'
                st_lst = lst.toString();
                given_turnover_list.push(st_lst)
             '{% endfor %}'
        $(".cell-which-triggers-popup1").each(function(index) {
            $(this).on("click", function(){
               showPopup('<b>Given text</b> <br>' + given_turnover_list[index] + '<br> <b>Matched Text</b> <br>' + turnover_list[index])
            })
        });

        </script>
 <table width="50%" border="1" cellpadding="3" cellspacing="3" bordercolor="LightGrey" align="Center">
<tbody><tr bgcolor="BlanchedAlmond">
	<td colspan="8" align="center"><b>Equipments &amp; Software</b></td>
</tr>
<tr>
	<td><b>Availability Of In-House Materail Testing Facility</b></td>
	<td>
	   Yes
	</td>
</tr>
<tr>
	<td><b>Field Investigation Testing Facilities</b></td>
	<td>
	 Yes
	</td>
</tr>
<tr>
	<td><b>Office Equipments &amp; Software Available</b></td>
	<td>
	 Yes
	</td>
</tr>
</tbody></table>
        <br><br>
<table width="70%" align="center" border="1" bordercolor="lightgrey" cellpadding="3" cellspacing="3" bgcolor="snow">

    <tbody><tr bgcolor="#b0c4de">
        <td colspan="14" align="center"><font size="-1" color="#4169e1"><b>Modern Technology Capability</b></font></td>
    </tr>
        {% for i in technology_zipall %}
            <tr bgcolor="BlanchedAlmond">
                <td colspan="8" align="left"><b>{{i.0}}</b></td>
            </tr>
            <tr bgcolor="#b0e0e6">
                <td><b>S.No.</b></td>
                <td colspan="2"><b>Project Name</b></td>
                <td><b>Status</b></td>
                <td><b>View Document</b></td>
                <td><b>Supporting Document</b></td>
                <td><b>Documents Type</b></td>
            </tr>
                <tr onmouseover="style.backgroundColor=&#39;#dddddd&#39;;" onmouseout="style.backgroundColor=&#39;white&#39;" style="background-color: white;">
                    <td class="td-val">{{i.1}}</td>
                    <td class="text-given" class="td-val" colspan="2">{{i.2}}</td>
                    <td class="td-val status status-turnover cell-which-triggers-popup2">{{i.3}}</td>
                    <td class="td-val"><a href='media/{{i.4}}' target="_blank">View</a></td>
                    <td class="td-val"> <a href='media/{{i.5}}' target="_blank">View</a></td>
                    <td class="td-val">{{i.6}}</td>
                </tr>
        {% endfor %}
</tbody></table>
<script>
    tech_st_list = []
    '{% for i in status_val3 %}'
            lst = `{{i}}`
            st_lst = lst
            tech_st_list.push(st_lst)
         '{% endfor %}'

     tech_key_list = []
    '{% for i in tech_keywords_list %}'
            lst = `{{i}}`
            st_lst = lst
            tech_key_list.push(st_lst)
         '{% endfor %}'

    tech_given_list = []
    '{% for i in technology_given_list %}'
            lst = `{{i}}`
            st_lst = lst
            tech_given_list.push(st_lst)
         '{% endfor %}'


    $(".cell-which-triggers-popup2").each(function(index) {
        $(this).on("click", function(){
           showPopup('<br> <b>Matched Text: </b> <br> \n' + tech_st_list[index])
            text_given_lst = []
            $(".text-given").each(function(index){

                text_given = $(this).text()
                text_given_lst.push(text_given)

            })
            text_matched = $(".dia-text").text()

            text_matched1 = text_matched.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");

            text_giv = text_given_lst[index]

            keywordsString = text_giv.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");

            keywords = keywordsString.split(/\s/);

            pattern = new RegExp((keywords.join('|')), 'g');
            phrase = text_matched1
            result = phrase.replace(pattern, match => `<span class="highlight">${match}</span>`);
            $(".dia-text").html(result + '<br><br><b>Given text</b> <br>' + tech_given_list[index] +  '<br><br><br><br> <b>Technology KeyWords Matched At:</b>  ' + tech_key_list[index])
        })
    })
</script>

<br>
<table width="90%" align="center" border="1" bordercolor="lightgrey" cellpadding="3" cellspacing="3" bgcolor="snow">
	<tbody><tr bgcolor="#b0c4de">
		<td colspan="14" align="center"><font size="-1" color="#4169e1"><b>DETAILED WORK</b></font></td>
	</tr>
	<tr bgcolor="#b0e0e6">
           </tr><tr bgcolor="#b0e0e6">
            <td><b>Sno</b></td>
            <td width="20%"><b>Name of Work</b></td>
            <td><b>Length Of Project</b></td>
            <td><b>Project Cost (Cr)</b></td>
            <td><b>Consultancy Fees (Lac)</b></td>
            <td><b>Fees Received by Firm (Lac)</b></td>
            <td><b>Work Duration</b></td>
            <td><b>Terrain Work</b></td>
            <td><b>Role Of Firm</b></td>
            <td><label for="assign_id"><b>Type of Assignment</b></label></td>
            <td><b>Details</b></td>
            </tr>

    {% for i in detail_work_zipall1 %}
        <tr>
            <td class="td-val cell-which-triggers-popup3">{{i.0}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.1}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.2}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.3}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.4}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.5}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.6}}</td>
            <td class="td-val cell-which-triggers-popup3">{{i.7}}</td>
               <td class="td-val cell-which-triggers-popup3">{{i.8}}</td>
                <td class="td-val cell-which-triggers-popup3">{{i.9}}</td>
            <td class="td-val cell-which-triggers-popup3"><a href='media/{{i.10}}' target="_blank">View</a></td>

        </tr>

     {% endfor %}
</tbody></table>
    <script>
        $(document).ready(function() {
            var Cells = document.getElementsByClassName("td-val");
                for(i in Cells) {
                   text =  Cells[i].innerText
                   if(text == "Matched") {
                       Cells[i].innerHTML = "<span style='background-color: #056905;color: #fff'>" +text+"</span>"
                   }
                   else if(text == "Not matched"){
                      Cells[i].innerHTML = "<span style='background-color: #f50e0e;color: #fff'>" +text+"</span>"
                   }
                    }
                var EmptyCell = document.getElementsByClassName("td-val");
                for(i in EmptyCell) {
                    text =  EmptyCell[i].innerText
                    if(text == '') {
                        EmptyCell[i].innerHTML = "<span style='background-color: #8a9210;color: #fff'>No Data Found Or Bad Quality PDF</span>"
                    }
                }
        });
        </script>

    <script>
     st_list1 = []
    '{% for i in status_txt3_1 %}'
            lst = `{{i}}`
            st_lst = lst
            st_list1.push(st_lst)
         '{% endfor %}'

     st_list2 = []
    '{% for i in status_txt3_2 %}'
            lst = `{{i}}`
            st_lst = lst
            st_list2.push(st_lst)
         '{% endfor %}'

      $(".cell-which-triggers-popup3").each(function(index) {
        if(index == 21){
            $(this).text("No File")
        }
        if(index == 43){
            $(this).text("No File")
        }
         val = $(this).text()
         if(val == 'Matched' || val == 'Not matched') {
            $(this).on("click", function(){
                val1 = $(this).text()
                if(index == 12) {
                   txt = st_list1[0]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> Project Management Consultancy (PMC) services for construction works related to widening/ \
                       modification of road to create multiple lanes (8-Lanes) of existing carriage way for \
                       High Capacity Bus System (HCBS) â€“ subsequently renamed as Bus Rapid Transit (BRT) System \
                       on Ambedkar Nagar to Delhi Gate section (Length: 14.5 km) in Delhi.<br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 13) {
                    txt = st_list1[1]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 14.50 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 14) {
                    txt = st_list1[2]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 216.00 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 15) {
                    txt = st_list1[3]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 600.00 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 16) {
                    txt = st_list1[4]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 600.00 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 17) {
                    txt = st_list1[5]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 05/09/2006 to 06/07/2010 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 18) {
                    txt = st_list1[6]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 2 Lane= 0 4 Lane=0 6 Lane=14.5 \n Hill=0 Plain=0 Hill=0 \n Plain=0 Hill=0 Plain=14.5 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 19) {
                   txt = st_list1[7]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> Sole Firm <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 20) {
                    txt = st_list1[8]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> Supervision(EPC) <br> <b>Matched Text</b> <br>' + txt)
                }

                if(index == 34) {
                    txt = st_list2[0]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> Independent Engineer for 8/6- Laning & strengthening of the Existing 6/4 lane stretch \
                       from km 14.3 to km 42.0 of NH-8 (Length: 27.7 km) on BOT basis in the State \
                       of Haryana and NCR of Delhi.<br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 35) {
                    txt = st_list2[1]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 27.70 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 36) {
                    txt = st_list2[2]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 700.00 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 37) {
                    txt = st_list2[3]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 563.00 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 38) {
                    txt = st_list2[4]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 1,625.00 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 39) {
                    txt = st_list2[5]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 01/06/2002 to 31/12/2008 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 40) {
                    txt = st_list2[6]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> 2 Lane= 0 4 Lane=0 6 Lane=27.7 \n Hill=0 Plain=0 Hill=0 \n Plain=0 Hill=0 Plain=27.7 <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 41) {
                    txt = st_list2[7]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> Lead Member <br> <b>Matched Text</b> <br>' + txt)
                }
                if(index == 42) {
                    txt = st_list2[8]
                   if(txt == "") {
                        txt = "No Data Found Or Bad Quality PDF"
                   }
                   showPopup('<b>Given text</b> <br> Supervision(PPP) <br> <b>Matched Text</b> <br>' + txt)
                }

            })

         }
      })
    </script>
</form>
</font></td></tr></tbody></table></body></html>