{% extends 'base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    <p>
      <label for="id_document">Document:</label>
      <input type="file" name="document" required="" id="id_document" multiple>
    </p>
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}